/** Homservis Stylesheet **/
/* Force scrollbars onto browser window */
  /* Box styles */
  html, body{
    height:100%;
  }
  .myBox {
  border: none;
  width: 100%;
  height: 50%;
  overflow-x: auto;
  overflow-y: hidden;
  }

  .myBox table{
    width: 2000px;
  }

  .myBox table thead{
    z-index: 2;
  }

  .myBox table tbody{
    display: block;
  height: calc(50vh - 1px);
  min-height: calc(200px + 1 px);
  /*use calc for fixed ie9 & <*/
  overflow-Y: scroll;
  }


  /* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }

  ::-webkit-scrollbar-track {
  border: 1px solid #888;
  border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
  background: #888888;
  }

.body-content{
  margin:25px 0;
}
.data-table{
  font-size:11px;
  border: solid 1px #ccc;
}
.data-table th{
  text-align: center;
}
.data-table td{
  border: solid 1px #ccc;
  text-align: center;
}
.data-table a{
  margin: 5px;
}
.tabs .indicator {
    color: #ffa726;
}
.img-small{
  width: 100px;
  height:auto;
}
.nav-wrapper ul li a{
  font-size:14px;
}
.nav-wrapper ul li a i{
  font-size:28px;
}
.item_user_field p label{
  font-size: 13px;
}
