/** Homservis Stylesheet **/
/* Force scrollbars onto browser window */
  /* Box styles */
  html, body{
    height:100%;
  }
  .myBox {
  border: none;
  width: 100%;
  height: 50%;
  overflow-x: auto;
  overflow-y: auto;
  }

.body-content{
  margin:25px 0;
}
.data-table{
  font-size:11px;
  border: solid 1px #ccc;
}
.data-table th{
  text-align: center;
}
.data-table td{
  border: solid 1px #ccc;
  text-align: center;
}
.data-table a{
  margin: 5px;
}
.tabs .indicator {
    color: #ffa726;
}
.img-small{
  width: 100px;
  height:auto;
}
.nav-wrapper ul li a{
  font-size:14px;
}
.nav-wrapper ul li a i{
  font-size:28px;
}
.item_user_field p label{
  font-size: 13px;
}
